@model IEnumerable<DairyFarm.Core.DAL.Season>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
   
    @Ajax.ActionLink("Ajouter",
        "Create", "Seasons",
        new { id = "newFood" },
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "createFood",
            OnSuccess = "dialogBox('createFood','Ajouter une saison');"
        }, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table liste">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @item.StartDate.ToShortDateString()
        </td>
        <td>
            @item.EndDate.ToShortDateString()
        </td>
        <td>
            @Ajax.ActionLink("Modifier",
                "Edit", "Seasons",
                new { id = item.IdSeason },
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "editFood",
                    OnSuccess = "dialogBox('editFood','Modifier la saison');"
                }, htmlAttributes: new { @class = "btn btn-primary" })
            @Html.ActionLink("Supprimer", "Delete", new { id = item.IdSeason }, htmlAttributes: new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
<div id="createFood" class="DisplayNone"></div>
<div id="editFood" class="DisplayNone"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap-dialog")

    <script>
        $(document).ready(function () {
            @if (@ViewBag.Message != null)
       {
        <text>
            var jsMessage = '@ViewBag.Message';
            var jsState = '@ViewBag.State';
            if (jsState == 1) {
                BootstrapDialog.alert({
                    title: 'TYPE_SUCCESS',
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_SUCCESS,
                    closable: true,
                });
            } else {
                BootstrapDialog.alert({
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_WARNING,
                    closable: true,
                });
            }
            </text>
    }
        });

    </script>
}