@{ Layout = null;}
@model DairyFarm.Core.DAL.Meal

@using (Html.BeginForm("Edit", "Meals", FormMethod.Post, htmlAttributes: new { id = "formcreateherd" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdMeal)
        @Html.HiddenFor(model => model.IdHerd)

        <div class="form-group">
            @Html.LabelFor(model => model.IdFood, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("IdFood", null, htmlAttributes: new { @class = "form-control", dataRequired = 1 })
                @Html.ValidationMessageFor(model => model.IdFood, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateMeal, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.TextBox("DateMeal", Model.DateMeal.ToShortDateString(), htmlAttributes : new { @class = "form-control date", dataRequired = 1 })
                <span class="text-danger" data-valmsg-for="DateMeal"></span>
                @*@Html.ValidationMessageFor(model => model.DateMeal, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HourMeal, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.DropDownList("Hours", null, new { htmlAttributes = new { @class = "form-control", dataRequired = 1 } })
                @Html.ValidationMessageFor(model => model.HourMeal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", dataRequired = 1 } })
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-4 col-md-8">
                <input type="button" value="soumettre" onclick="submitForm('#formcreateherd')" id="submitHerd" class="btn btn-default" />
            </div>
        </div>
    </div>
}
