@model DairyFarm.Core.DAL.CattleProduction

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CattleProduction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Dateprod)
        </dt>

        <dd>
            @Model.Dateprod.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @{ var period = Model.Period.Hour == 18 ? "Soir" : "Matin";}
            @period
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cattle.CodeCattle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cattle.CodeCattle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdProduction }) |
    @Html.ActionLink("Back to List", "Index")
</p>
