@model IEnumerable<DairyFarm.Core.DAL.CattleProduction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="addProd col-md-6">
    <form role="form" action="/CattleProductions/DifferentDateProd">
        <label>date</label>
        <input type="date" name="dateProdDifferent" />
        <label><input type="radio" value="matin" name="period">Matin</label>
        <label><input type="radio" value="soir" name="period">Soir</label>
        <input type="submit" value="Envoyer" class="btn btn-primary" />
    </form>
</div>

<div >
    <table class="table  table table-striped">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dateprod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Period)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cattle.CodeCattle)
            </th>
            <th>
                Modifer
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                     @item.Dateprod.ToShortDateString()
                </td>
                @if (item.Period.Hour == 6)
                {
                    <td>
                        matin
                    </td>
                }
                else
                {
                    <td>
                        soir
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cattle.CodeCattle)
                </td>
                <td>
                    @Ajax.ActionLink("modifier", "Edit", "CattleProductions",
                        new {id = item.IdProduction},
                        new AjaxOptions
                        {
                            HttpMethod = "GET",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "divEdit",
                            OnSuccess = "dialogBox('divEdit');"
                        }, htmlAttributes: new {@class = "btn btn-primary"})
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div id="divEdit">

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap-dialog")
    @Scripts.Render("~/bundles/dataTable")
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "order": [ 0, 'desc' ],
                language: {
                    processing: "Traitement en cours...",
                    search: "Filtre&nbsp;:",
                    lengthMenu: "Afficher _MENU_ &eacute;l&eacute;ments",
                    info: "Affichage de l'&eacute;lement _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    infoEmpty: "Affichage de l'&eacute;lement 0 &agrave; 0 sur 0 &eacute;l&eacute;ments",
                    infoFiltered: "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    infoPostFix: "",
                    loadingRecords: "Chargement en cours...",
                    zeroRecords: "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    emptyTable: "Aucune donnée disponible dans le tableau",
                    paginate: {
                        first: "Premier",
                        previous: "Pr&eacute;c&eacute;dent",
                        next: "Suivant",
                        last: "Dernier"
                    },
                    aria: {
                        sortAscending: ": activer pour trier la colonne par ordre croissant",
                        sortDescending: ": activer pour trier la colonne par ordre décroissant"
                    }
                }
            });

            @if (@ViewBag.Message != null)
       {
        <text>

            var jsMessage = '@ViewBag.Message';
            var jsState = '@ViewBag.State';


            if (jsState == 1) {
                BootstrapDialog.alert({
                    title: 'TYPE_SUCCESS',
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_SUCCESS,
                    closable: true,
                });
            } else {
                BootstrapDialog.alert({
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_WARNING,
                    closable: true,
                });
            }
            </text>
    }
        });

    </script>
}