@using System.Collections.Specialized
@model List<DairyFarm.Core.DAL.CattleProduction>

@{
    ViewBag.Title = "Encodage des traites";
}

<h2>Encodage des traites</h2>
<h4>@ViewBag.message</h4>

<input type="checkbox" id="differentDate"> Date différente d'aujourd'hui?<br>

@using (Html.BeginForm("DifferentDateProd", "CattleProductions", FormMethod.Post, new { @id = "dateDifferentProd", @class = "DisplayNone" }))
{
    <input type="hidden" name="period" id="periodTime" required>
    <input  name="dateProdDifferent" id="datedif" class="class="form-control text-box single-line hasdatepicker">
    <div class="form-group">
        <input type="submit" value="Soumettre" class="btn btn-primary" />
    </div>
}
@using (Html.BeginForm("SetProductions", "CattleProductions", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table table-striped">
        <tr></tr>
        <tr>
            <th>
                Code Cattle
            </th>
            <th>
                Quantité
            </th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    <label> @Model[i].Cattle.CodeCattle</label>
                </td>
                <td>
                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.EditorFor(model => model[i].Quantity2, new {htmlAttributes = new {@class = "form-control"}})
                        </div>
                    </div>
                </td>
            </tr>

    @Html.HiddenFor(model => model[i].Dateprod)
    @Html.HiddenFor(model => model[i].Period)
    @Html.HiddenFor(model => model[i].IdCattle)
        }
    </table>
    <div class="form-group">
        <input type="submit" value="Soumettre" class="btn btn-primary" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap-dialog")
    <script>
        $(function() {
            $("#differentDate").click(function () {
                $('#datedif').datepicker({
                    dateFormat: 'dd/mm/yy'
                });
                var $this = $(this);
                if ($this.is(':checked')) {
                    $('#dateDifferentProd').show();

                } else {
                    $('#dateDifferentProd').hide();
                }
            });
            var parameter = getUrlParameter('period');
            $("#periodTime").val(parameter);
        });
      
    </script>

}
