@{ Layout = null; }
@model DairyFarm.Web.Models.ChangeHerdViewModel

@using (Html.BeginForm("ChangeHerd", "Cattle", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.IdChangeHerd, "IdHerd", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("IdChangeHerd", new SelectList(ViewBag.Herds, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.IdChangeHerd, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2" id="IdCattles">Bêtes </label>

        <div class="col-md-10">
            @Html.DropDownList("IdChangeCattle", new SelectList(ViewBag.Cattles, "Value", "Text"), htmlAttributes: new { @class = "form-control", @multiple = "multiple"})
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

}




