@model DairyFarm.Web.Models.CattleDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    <hr />
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.CodeCattle)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.CodeCattle)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Sex)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Sex)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Cattletype)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Cattletype)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.LabelHerd)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.LabelHerd)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AgeYear)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AgeYear)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.AgeMonth)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.AgeMonth)
    </dd>
    @if (Model.MalParent != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.MalParent)
        </dt>

        <dd>
            MA @Html.DisplayFor(model => model.MalParent)
        </dd>
    }
    @if (Model.FemaleParent != null)
    {
        <dt>
            @Html.DisplayNameFor(model => model.FemaleParent)
        </dt>
        <dd>
            MA @Html.DisplayFor(model => model.FemaleParent)
        </dd>
    }
</dl>

    @Ajax.ActionLink("Editer Parent", "Edit", "Cattle",
                                     new { id = Model.IdCattle },
                                     new AjaxOptions
                                     {
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                         UpdateTargetId = "divEdit",
                                         OnSuccess = "dialogBox('divEdit', 'Edition animal');"
                                     }, htmlAttributes: new { @class = "btn btn-default" })
    <div id="divEdit"></div>

    @if (Model.CurrentGestation != null && Model.Sex == "F")
    {
        <dl class=" dl-horizontal dlGestation ">
            <dt>
                @Html.DisplayNameFor(model => model.CurrentGestation.StartDateGestation)
            </dt>
            <dd>
                @Model.CurrentGestation.StartDateGestation.ToShortDateString()
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentGestation.DateCalve)
            </dt>
            <dd>
                @Model.CurrentGestation.DateCalve.ToShortDateString()
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentGestation.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentGestation.Comment)
            </dd>


            @Html.ActionLink("Editer gestation", "Edit", "Gestations", new { id = Model.CurrentGestation.IdGestation }, htmlAttributes: new { @class = "btn btn-primary" })
        </dl>

    }

    else if (Model.CurrentGestation == null && Model.canGestation==true )
    {
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.CurrentGestation)
            </dt>
            <dd>
                Il n'y a pas de gestation en cours
            </dd>
        </dl>
        <div id="idAjaxFormG">

            @Ajax.ActionLink("Nouvelle gestation",
        "NewGestation", "Gestations", new { id = @Model.IdCattle },
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "divGestation",
            OnSuccess = "NewGestation(); setDatePicker();"
        }, htmlAttributes: new { id = "newGestation", @class = "btn btn-primary" })
            <input type="button" id="closeNewGestation" class="btn btn-danger DisplayNone" value="X" />
            <div id="divGestation"></div>
        </div>
    }
    <h2>Maladies</h2>
    <hr />
    <div id="idAjaxFormD">

        @Ajax.ActionLink("Nouvelle maladie",
                "Create",
                 "DiseasesHistories", new { id = @Model.IdCattle },
                 new AjaxOptions
                 {
                     HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "divDisease",
                     OnSuccess = "NewDisease();setDatePicker();"
                 }, htmlAttributes: new { id = "newDisease", @class = "btn btn-primary" })
        <input type="button" id="closeNewDisease" class="btn btn-danger DisplayNone" value="X" />
        <div id="divDisease"></div>
    </div>
    @if (Model.CurrentDiseases.Any())
    {

        <table class="table table-striped liste">
            <tr></tr>
            <tr>
                <th>
                    Maladie
                </th>
                <th>
                    Traitements
                </th>
                <th>
                    Contagieux
                </th>
                <th>
                    Visite veterinaire
                </th>
                <th>

                </th>
            </tr>
            @foreach (var item in Model.CurrentDiseases)
            {
                if (item.EndDate == null)
                {
                    <tr>
                        <td>
                            <label> @item.Disease.Label</label>
                        </td>
                        <td>
                            @foreach (var treatment in item.MedicalTreatments)
                            {
                                <label>- @treatment.Label </label>
                            }

                        </td>

                        <td>
                            <input type="checkbox" checked=@item.Disease.Contagious disabled>
                        </td>

                        <td>
                            <input type="checkbox" checked=@item.VeterinaryVisit disabled>

                        </td>

                        <td>
                            @Ajax.ActionLink("Modifier",
                                "edit",
                                "DiseasesHistories", new { id = @item.IdDiseasesHistory },
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "editDisease",
                                    OnSuccess = "dialogBox('editDisease', 'Modifier la maladie');"
                                }, htmlAttributes: new { id = "newDisease", @class = "btn btn-primary" })
                        </td>

                    </tr>
                }
            }
        </table>
    }

</p>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.idCattle }) |
        @Html.ActionLink("Back to List", "Index")*@

    @if (Model.canGestation == true)
    {
        @Ajax.ActionLink("historique gestation",
                        "index",
                         "Gestations", new { id = @Model.IdCattle },
                 new AjaxOptions
                 {
                     HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "gestationHistory",
                 }, htmlAttributes: new { id = "newDisease", @class = "btn btn-primary" })
        <div id="gestationHistory"></div>
    }
    @Ajax.ActionLink("historique maladie",
                        "index",
                        "DiseasesHistories", new { id = @Model.IdCattle },
                 new AjaxOptions
                 {
                     HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "diseaseHistory",
                 }, htmlAttributes: new { id = "newDisease", @class = "btn btn-primary" })
    <div id="diseaseHistory"></div>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap-dialog")
    <script>
        $(document).ready(function () {
            @if (@ViewBag.Message != null)
       {
        <text>
            var jsMessage = '@ViewBag.Message';
            var jsState = '@ViewBag.State';
            if (jsState == 1) {
                BootstrapDialog.alert({
                    title: 'TYPE_SUCCESS',
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_SUCCESS,
                    closable: true,
                });
            } else {
                BootstrapDialog.alert({
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_WARNING,
                    closable: true,
                });
            }
            </text>
    }
        });
    </script>
}

<div id="editDisease" class="DisplayNone"></div>
