@model DairyFarm.Web.Models.CattleDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @*<h4>CattleDetailViewModel</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeCattle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeCattle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cattletype)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cattletype)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LabelHerd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LabelHerd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AgeMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AgeMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MalParent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MalParent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FemaleParent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FemaleParent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        @if (Model.CurrentGestation != null && Model.Sex == "F")
        {
            <dt>
                @Html.DisplayNameFor(model => model.CurrentGestation.StartDateGestation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentGestation.StartDateGestation)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CurrentGestation.Comment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CurrentGestation.Comment)
            </dd>

    @Html.ActionLink("Editer gestation", "Edit","Gestations", new { id = Model.CurrentGestation.IdGestation }, htmlAttributes: new { @class = "btn btn-primary" }) 

        }
        else if (Model.CurrentGestation == null && Model.Sex == "F")
        {
            <dt>
                @Html.DisplayNameFor(model => model.CurrentGestation)
            </dt>
            <dd>
                Il n'y a pas de gestation en cours
            </dd>
    <div id="idAjaxFormG">

        @Ajax.ActionLink("New Gestation",
        "NewGestation", "Gestations", new { id = @Model.idCattle },
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "divGestation",
            OnSuccess = "NewGestation();"
        }, htmlAttributes: new { id = "newGestation", @class = "btn btn-primary" })
        <input type="button" id="closeNewGestation" class="btn btn-danger DisplayNone" value="X" />
        <div id="divGestation"></div>
    </div>
        }


        <h2>Maladies</h2>
        @Ajax.ActionLink("new Disease",
                "Create",
                 "DiseasesHistories", new { id = @Model.idCattle },
                 new AjaxOptions
                 {
                     HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "divDisease",
                     OnSuccess = "setSelect2Disease();"
                 }, htmlAttributes: new { id = "newDisease", @class = "btn btn-primary" })

        <div id="divDisease"></div>
        @if (Model.currentDiseases.Any())
        {

            <table class="table table-striped">
                <tr></tr>
                <tr>
                    <th>
                        Maladie
                    </th>
                    <th>
                        Traitements
                    </th>
                    <th>
                        Contagieux
                    </th>
                    <th>
                        Visite veterinaire
                    </th>
                </tr>
                @foreach (var item in Model.currentDiseases)
                {
                   if (item.EndDate == null) { 
                    <tr>
                        <td>
                            <label> @item.Disease.Label</label>
                        </td>
                        <td>
                            @foreach (var treatment in item.MedicalTreatments)
                            {
                                <label>- @treatment.Label </label>
                            }

                        </td>

                        <td>
                            <input type="checkbox" checked=@item.Disease.Contagious disabled>
                        </td>

                            <td>
                                <input type="checkbox" checked=@item.VeterinaryVisit disabled>

                            </td>

                        <td>
                            @Ajax.ActionLink("éditer",
                                "edit",
                                "DiseasesHistories", new {id = @item.IdDiseasesHistory},
                                new AjaxOptions
                                {
                                    HttpMethod = "GET",
                                    InsertionMode = InsertionMode.Replace,
                                    UpdateTargetId = "editDisease",
                                    OnSuccess = "openDialog();"
                                }, htmlAttributes: new {id = "newDisease", @class = "btn btn-primary"})
                        </td>
                        
                    </tr>
                   }
                }
            </table>
        }
    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.idCattle }) |
    @Html.ActionLink("Back to List", "Index")*@

    @if (Model.Sex == "F") { 
    @Ajax.ActionLink("historique gestation",
                        "index",
                         "Gestations", new { id = @Model.idCattle },
                 new AjaxOptions
                 {
                     HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "gestationHistory",
                 }, htmlAttributes: new { id = "newDisease", @class = "btn btn-primary" })
    <div id="gestationHistory"></div>
    }
    @Ajax.ActionLink("historique maladie",
                        "index",
                        "DiseasesHistories", new { id = @Model.idCattle },
                 new AjaxOptions
                 {
                     HttpMethod = "GET",
                     InsertionMode = InsertionMode.Replace,
                     UpdateTargetId = "diseaseHistory",
                 }, htmlAttributes: new { id = "newDisease", @class = "btn btn-primary" })
    <div id="diseaseHistory"></div>
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap-dialog")
   <script>
    $(document).ready(function () {
        @if (@ViewBag.Message != null)
       {
        <text>
        var jsMessage = '@ViewBag.Message';
        var jsState = '@ViewBag.State';
        if (jsState == 1) {
            BootstrapDialog.alert({
                title: 'TYPE_SUCCESS',
                message: jsMessage,
                type: BootstrapDialog.TYPE_SUCCESS,
                closable: true,
            });
        } else {
            BootstrapDialog.alert({
                message: jsMessage,
                type: BootstrapDialog.TYPE_WARNING,
                closable: true,
            });
        }
        </text>
    }
    });
</script> 
}

<div id="editDisease" class="DisplayNone"></div>
