@model IQueryable<IGrouping<int, DairyFarm.Core.DAL.Cattle>>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@{
    int i = 0;
}
@{


    foreach (var list in Model)
    {

        <h2>
            <a class=" colp btn btn-default " id='btnCollapseHerd[@i]' herd="@i">-</a> @list.ElementAt(0).Herd.Label
        </h2>
        @Ajax.ActionLink("Transférer bête(s) ",
        "ChangeHerd", "Cattle", new { idHerd = list.ElementAt(0).IdHerd },
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "divChangeHerd",
            OnSuccess = "dialogBox('divChangeHerd');"
        }, htmlAttributes: new { @class = "btn btn-default", @style = "margin: 5px;" })

        <label> Nombre de places disponibles : @list.ElementAt(0).Herd.AvailablePlaces</label>
        <div class='@i collapse in'>
            @{i++;}
            <table class="table">
                <tr>
                    <th>
                        Code
                    </th>
                    <th>
                        en gestation
                    </th>
                    <th>
                        Malade
                    </th>
                    <th>
                        age
                    </th>
                    <th>
                        En quarantaine
                    </th>
                    <th></th>
                </tr>
                @foreach (var cattle in list)
                {
                    var inQt = "";
                    if (cattle.InQuarantine == true)
                    {
                        inQt = "InQurantine";
                    }
                    <tr class=@inQt>
                             <td>
                                 @Html.DisplayFor(modelItem => cattle.CodeCattle)
                             </td>
                             @if (cattle.Gestations.FirstOrDefault(g => g.EndDateGestation == null) != null)
                             {
                                 <td>
                                     <input type="checkbox" checked disabled>
                                 </td>
                             }
                             else
                             {
                                 <td>
                                     <input type="checkbox" disabled>
                                 </td>
                             }
                             @if (cattle.DiseasesHistories.FirstOrDefault(g => g.EndDate == null) != null)
                             {
                                 <td>
                                     <input type="checkbox" checked disabled>
                                 </td>
                             }
                             else
                             {
                                 <td>
                                     <input type="checkbox" disabled>
                                 </td>
                             }
                             @{ int age = DateTime.Now.Year - cattle.DateBirth.Year; }
                             <td>
                                 @age
                             </td>
                            
                             <td >
                                 <input type="checkbox" disabled @{
                                                                     var s = cattle.InQuarantine ? "checked" : "";
                                                                 } @s>
                             </td>
                       
                             <td>
                                 @Html.ActionLink("Edit", "Edit", new {id = cattle.IdCattle}, htmlAttributes: new {@class = "btn btn-primary"})
                                 @Html.ActionLink("Details", "Details", new {id = cattle.IdCattle}, htmlAttributes: new {@class = "btn btn-info"})
                                 @Ajax.ActionLink("supprimer", "Delete", "Cattle",
                                     new {id = cattle.IdCattle},
                                     new AjaxOptions
                                     {
                                         HttpMethod = "GET",
                                         InsertionMode = InsertionMode.Replace,
                                         UpdateTargetId = "divDelete",
                                         OnSuccess = "dialogBox('divDelete');"
                                     }, htmlAttributes: new {@class = "btn btn-danger"})
                             </td>
                         </tr>
                }
            </table>

        </div>
    }

}
<div id="divChangeHerd"></div>
<div id="divDelete"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap-dialog")

    <script>
        $('.colp').on('click', function (e) {
            e.preventDefault();
            var index = $(this).attr("herd");
            var $collapse = $('.' + index + '');
            if ($collapse.hasClass('in')) {
                $(this).text("+");
            } else {
                $(this).text("-");
            }
            $collapse.collapse('toggle');
        });

        $(document).ready(function () {


            @if (@ViewBag.Message != null)
       {
        <text>

            var jsMessage = '@ViewBag.Message';
            var jsState = '@ViewBag.State';


            if (jsState == 1) {
                BootstrapDialog.alert({
                    title: 'TYPE_SUCCESS',
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_SUCCESS,
                    closable: true,
                });
            } else {
                BootstrapDialog.alert({
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_WARNING,
                    closable: true,
                });
            }
            </text>
    }


        });

    </script>
}