@{
    ViewBag.Title = "Index";
}

<h2>Tableau de Bord</h2>



<div class="demo-container">
    <div id="placeholder" class="demo-placeholder"></div>
</div>





@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap-dialog")
   @Scripts.Render("~/bundles/flot-charts")
}
