@{ Layout = null;}
@model IEnumerable<DairyFarm.Core.DAL.DiseasesHistory>

<h2>Liste - maladies de @ViewBag.codeCattle </h2>
<table class="table liste">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disease.Label)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VeterinaryVisit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalTreatments)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disease.Label)
        </td>
        <td>
            @item.StartDate.ToShortDateString()
        </td>
        <td>
            @if (item.EndDate.HasValue)
            {
                @item.EndDate.Value.ToShortDateString()
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VeterinaryVisit)
        </td>
        <td>
            @foreach (var treatment in item.MedicalTreatments)
            {
                <label>- @treatment.Label </label>
            }

        </td>
    </tr>
}

</table>
