@model DairyFarm.Core.DAL.Food

@{
    ViewBag.Title = "Suppresion d'une nouriiture";
}

<h2>Delete</h2>

<h3>Etes vous sur de vouloir supprimé cette nourriture?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotQuantity)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
