@model IEnumerable<DairyFarm.Core.DAL.Food>
@{
    ViewBag.Title = "Index";
}

<h2>Liste des Nourritures</h2>
<p>
    @Ajax.ActionLink("Ajouter",
        "Create", "Foods",
        new { id = "newFood" },
        new AjaxOptions
        {
            HttpMethod = "GET",
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "createFood",
            OnSuccess = "dialogBox('createFood','Ajouter une nourriture');"
        }, htmlAttributes: new { @class = "btn btn-default" })
</p>
<table class="table liste">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TotQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Label)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TotQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Label)
        </td>
        <td>
            @Ajax.ActionLink("Modifier",
                "Edit", "Foods",
                new {id = item.IdFood},
                new AjaxOptions
                {
                    HttpMethod = "GET",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "editFood",
                    OnSuccess = "dialogBox('editFood','Modifier la nourriture');"
                }, htmlAttributes: new {@class = "btn btn-primary"})
        
            @if (item.TotQuantity == 0)
            {

                @Html.ActionLink("Supprimer", "Delete", "Foods",new{id=item.IdFood}, htmlAttributes: new { @class = "btn btn-danger" })

            }
        </td>
    </tr>
}

</table>

<div id="createFood" class="DisplayNone"></div>
<div id="editFood" class="DisplayNone"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/select2")
    @Scripts.Render("~/bundles/unobtrusive-ajax")
    @Scripts.Render("~/bundles/bootstrap-dialog")

    <script>
        $(document).ready(function () {
            @if (@ViewBag.Message != null)
       {
        <text>
            var jsMessage = '@ViewBag.Message';
            var jsState = '@ViewBag.State';
            if (jsState == 1) {
                BootstrapDialog.alert({
                    title: 'TYPE_SUCCESS',
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_SUCCESS,
                    closable: true,
                });
            } else {
                BootstrapDialog.alert({
                    message: jsMessage,
                    type: BootstrapDialog.TYPE_WARNING,
                    closable: true,
                });
            }
            </text>
    }
        });

    </script>
}