@{ Layout = null;}
@model DairyFarm.Core.DAL.Diet

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Diet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2" id="IdFood">Traitements medical </label>
            <div class="col-md-10">
                @Html.DropDownList("Nourritures", new SelectList(ViewBag.IdFood, "Text", "Value"), htmlAttributes: new { @class = "form-control", @multiple = "multiple", @name = "IdFood", @id = "IdFood" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" id="IdCattleType">Traitements medical </label>
            <div class="col-md-10">
                @Html.DropDownList("Types de bêtes", new SelectList(ViewBag.IdCattleType, "Text", "Value"), htmlAttributes: new { @class = "form-control", @multiple = "multiple", @name = "IdCattleType", @id = "IdCattleType" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Label, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Label, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Label, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
