@model DairyFarm.Core.DAL.Gestation

@{
    ViewBag.Title = "Details";
}

<h2>Details Gestation</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDateGestation)
        </dt>

        <dd>
            @Model.StartDateGestation.ToShortDateString()
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateGestation)
        </dt>

        <dd>
            @if (@Model.EndDateGestation.HasValue)
            {
                @Model.EndDateGestation.Value.ToShortDateString()
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCalve)
        </dt>

        <dd>
            @if (@Model.DateCalve.HasValue)
            {
                @Model.DateCalve.Value.ToShortDateString()
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CalveSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CalveSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DeathCalve)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeathCalve)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cattle.CodeCattle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cattle.CodeCattle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdGestation }) |
    @Html.ActionLink("Back to List", "Index")
</p>
