@{ Layout = null;}
@model IEnumerable<DairyFarm.Core.DAL.Gestation>

@{
    ViewBag.Title = "Index";
}

<h2>Liste - gestation de @ViewBag.codeCattle </h2>

<table class="table liste">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDateGestation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDateGestation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCalve)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CalveSex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeathCalve)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.StartDateGestation.ToShortDateString()
            </td>
            <td>
                @if (item.EndDateGestation.HasValue)
                {
                    @item.EndDateGestation.Value.ToShortDateString()
                }
            </td>
            <td>
                @if (item.DateCalve.HasValue)
                {
                    @item.DateCalve.Value.ToShortDateString()
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CalveSex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @if (item.DeathCalve == true)
                {
                    <input type="checkbox" checked disabled="disabled">
                }
                else
                {
                    <input type="checkbox" disabled="disabled">}

            </td>
        </tr>

    }

</table>
