@{ Layout = null;}
@model DairyFarm.Core.DAL.DiseasesHistory


<div class="form-group">
    @Html.LabelFor(model => model.IdDisease, "IdDisease", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("IdDisease", null, htmlAttributes: new { @class = "form-control", @required = true, dataRequired = 1 })
        @Html.ValidationMessageFor(model => model.IdDisease, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.IdMedicalTreatments, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("IdMedicalTreatments", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple", @name = "IdMedicalTreatments", @id = "IdMedicalTreatments", dataRequired = 1 })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control date", dataRequired = 1 } })
        @*@Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })*@
        <span class="text-danger" data-valmsg-for="CurrentDisease_StartDate"></span>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VeterinaryVisit, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.VeterinaryVisit, new { htmlAttributes = new { @class = "control-label", style = "margin-left: 0px;", dataRequired = 1 } })
            @Html.ValidationMessageFor(model => model.VeterinaryVisit, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
