@model DairyFarm.Core.DAL.DiseasesHistory


<div class="form-group">
    @Html.LabelFor(model => model.IdDisease, "IdDisease", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("IdDisease", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdDisease, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.IdMedicalTreatments, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("IdMedicalTreatments", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple", @name = "IdMedicalTreatments", @id = "IdMedicalTreatments" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.VeterinaryVisit, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.VeterinaryVisit, new { htmlAttributes = new { @class = "control-label", style = "margin-left: 0px;" } })
            @Html.ValidationMessageFor(model => model.VeterinaryVisit, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
