@model IEnumerable<DairyFarm.DAL.CattleProduction>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dateprod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hourprod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cattle.CodeCattle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Dateprod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hourprod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cattle.CodeCattle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdProduction }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdProduction }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdProduction })
        </td>
    </tr>
}

</table>
